*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary:  #ca9137;
    --color-secondary: #15315e;
    --color-tertiary: #d47f42;
    --color-zomp: #436eb3;
    --color-black: #1b1f2f;
    --color-white: rgb(255, 255, 255);
    --color-grey: rgb(64, 64, 64);
    --color-grey1: rgb(81, 80, 80);
    --color-grey2: rgb(155, 154, 154);
    --color-grey3: #CBBFBB;
    --br-sm-2: 14px;
    --box-shadow-1: 0px 5px 10px rgba(21,21,21,0.9);


    
    
}

body{
    background-color: var(--color-secondary);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;

}

section{
    min-height: 100vh;
    width: 100%;
    padding: 3rem 10rem;
    position: relative;
    top: 0;
    left: 0;


}

header{
min-height: 100vh;
color: var(--color-white);
overflow: hidden;
position:relative;
z-index: 1;
}


.container{
    // display: none;
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-black);
    // padding: 7rem 11rem;
}


.active_opt{
    // background-color: var(--color-zomp) !important;
    box-shadow: var(--color-grey3);
    transition: all .4s ease-in-out;
    transform: scale(1.1);
    display: block;
    
    i{
        color: var(--color-black) !important;
    }
}


.section{
    color: var(--color-white);
    transition: all .4s ease-in-out;
    transform: translateY(-100%) scale(0);
    overflow: hidden;
    width:100%
}

.sec_home{
    display: none;
    transform: translateY(0) scale(1);
    width: 100%;
    // background-color: #3a26bc;
}

.sec_about{
    display: none;
    transform: translateY(0) scale(1);
    width: 100%;
    left: 0;
    
    // background-color: #18bebe;
}

.sec_skills{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: var(--color-tertiary);
}

.sec_contact{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #6A0572 ;
}

.sec_projects{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #007E5B;
}

.active{
    display: block;
    animation: SlideInSect .5s ease-in-out backwards;
    // transform: translateX(0) scaleX(1);
}

@keyframes SlideInSect {
    0%{
        transform: translateX(-100%) scaleX(0);
    }
    100%{
        transform: translateX(0%) scaleX(1);
    }
    
}

.controls{
    position: fixed;
    display:flex;
    flex-direction: column;
    z-index: 1;
    top: 50%;
    right: 3%;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    
    // background-color: var(--color-secondary);
    
.control{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-zomp);
    border-radius: 60%;
    padding: 1.01rem;
    height: 55px;
    width: 55px;
    cursor: pointer;
    right: 0.5rem;
    margin: 0.5rem;
    box-shadow: var(--box-shadow-1);
    transition: all .4s ease-in-out;


i{
    // font-size: 1.1rem;
    color: #040F0F;
    pointer-events: none;
}
}
}

/*header contents*/

.head-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-head{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4s ease-in-out;
            width:65%;
            height: 100%;
            color: var(--color-tertiary);
            position: absolute;
            left: 0;
            top:0;
            z-index: -1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }
        .image{
            border-radius: var(--br-sm-2);
            width: 68%;
            height: 90%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: all .4s ease-in-out;
            img{
                border-radius: var(--br-sm-2);
                width:100%;
                height:100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .intro{
            margin-top: 4rem;
            font-size: 3rem;
            span{
                color: var(--color-primary);
            }
        }
        h3{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

/*Independent Components*/
.dwn-btn{
    display: flex;
    align-self: flex-start;
}
.main-btn-cv{
    border-radius: 30px;
    color:inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-primary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    .btn-text{
        padding: 0 2rem;
        text-decoration: none;
    }
    .btn-icon{
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;

    }
    &::before{
        content: ' ';
        position:absolute;
        top: 0;
        right:0%;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
        z-index: -1;
    }
    &::after{
        content: ' ';
        position:absolute;
        top: 0;
        right:0%;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height:100%;
            background-color: var(--color-primary);
            transform: translateX(0);
        }
        &::after{
            width: 100%;
            height: 100%;
            background-color: none;
            transform: translateX(-100%);
        }
    }
}

/*Section-About*/
.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 400;
        span{
            color:var(--color-tertiary);
        }
        .bg-txt{
            position:absolute;
            top:50%;
            left: 50%;
            bottom:20%;
            color: var(--color-tertiary);
            opacity: 20%;
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.4rem;
        }

    }
}

/*About-Content*/
.about-cont{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    
    grid-gap: 2rem; 
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .about-item{
            border: 1px solid var(--color-secondary);
            display: flex;
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 100%;
            margin-top: 10%;
            padding-bottom: 1rem;
            &:hover{
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }
            .about-txt{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-txt{
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-primary)
                }
                .small-txt{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color:var(--color-grey2);
                    letter-spacing: 2px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey3);
                    }


                }
            }

        }
    }

    .left-about {
        padding-right: 5rem;
        p {
            line-height: 2rem;
            padding: 1rem 0rem 3rem 0rem;
            color: var(--color-grey-1);
        }
        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }

}

/*Skills*/

.skills-cont{
    padding-bottom: 4rem;
    .skills-progress-bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .skills-progress-bar{
            display: flex;
            flex-direction: column;
            margin-bottom: 6rem;
            .progress-title{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-con{
                display: flex;
                align-items: center;
                .progress-deg{
                    color:var(--color-primary);
                }
            
                .progress{
                width:100%;
                position: relative;
                background-color: var(--color-grey3);
                margin-left: 1rem;
                height: .45rem;
                // margin-bottom: 9rem;
                span{
                    position:absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: var(--color-primary);
                    transition: all .4s ease-in-out;
                    width:60%
                }
                .html{
                    width:85%;
                }

                .css{
                    width:70%
                }

                .js{
                    width:80%
                }

                .java{
                    width:70%;
                }

            }
        }
        }
    }
}

.skills-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 2%;
        width: 40%;
        height: 1%;
        background-color: var(--color-grey3);
        transform: translateX(-50%);
    }


}

.skills-timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 2rem;
        border-left: 1px dashed gray;
        .t1-icon{
            position: absolute;
            left: -27px;
            // size: 20px;
            top:0;
            background-color: var(--color-tertiary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.1rem;
            }

        }
        .t1-duration{
            padding: .2rem 1.8rem;
            margin-bottom: .2rem;
            background-color: var(--color-secondary);
            border-radius: 15px;
            display: inline-block;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span{
                color: var(--color-grey2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            color:var(--color-grey3);
        }
    }
}

/*Projects*/

.proj-text{
    padding: 2rem 0;
    text-align: center;
}

.projects-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .project-item{
        position: relative;
        border-radius: 15px;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;    
            border-radius: 15px;
        }
        .hover-items{
            width: 100%;
            height: 100%;
            background-color: var(--color-tertiary);
            position: absolute;
            left:0;
            top:0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .3s ease-in-out;
            h3{
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
                
            }
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                
                .icon{
                    background-color: var(--color-black);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    box-shadow: var(--box-shadow-1);
                    i{
                        font-size: 1rem;
                        color: var(--color-white);
                        margin:0;
                        
                    }

                    &:hover{
                        transform: scale(1.1);
                        // background-color: var(--color-grey3);
                        i{
                            background-color: var(--color-black);
                            
                        }
                    }
                    
                }
            }

        }
    }
}

.project-item:hover .hover-items{
    opacity: 1;
    transform: scale(1);
}


//Contact//
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
    .left-contact {
        flex: 2;
        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            margin: .5rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    margin: .3rem 0 !important;
                    padding: .2rem !important;
                    font-size: 1rem !important;
                }
                span{
                    font-size: 1rem;
                    padding-left: .2rem;
                }
                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .contact-icon {
            display: flex;
            margin: 1rem;
            // padding: 2rem;
            a {
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-primary);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover {
                    background-color: var(--color-secondary);
                    i { color: var(--color-primary); }
                }
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;
        .input-control {
            margin: 1.5rem 0;
            input, textarea {
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .i-c-2 {
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .btn-cont {
            position: relative;
            display:flex;
            text-align: center;
            left: 1rem;
            align-items: flex-start;
            justify-content: left;
            .submit-btn{
                padding: .6rem;
                background: none;
                outline: none;
                border: 1px solid var(--color-primary);
                border-radius: 10%;
                color:var(--color-white);
                transition: all .4s ease-in-out;
                font-size: inherit;
            }
            &:hover{
                
                .submit-btn{
                cursor: pointer;
                background-color: var(--color-primary);
                
                
                
                }
            }
        
        }
    }
}
@import './media';